footer {
	position: fixed;
	right: 0.5em;
	bottom: 0;
	padding-bottom: 1em;
	background: #222;
	border: 1px solid silver;
	transition: transform 0.75s cubic-bezier(0.4, 0, 0.2, 1);
	transform: translateY(calc(100% - 2.25em));
	&.open {
		transform: none;
	}
	&>div {
		max-height: calc(94vh - 2.5em);
		overflow: auto;
	}
}


h3 {
	margin: 0 0 0.5em;
	padding: 0.25em;
	background-color: #444;
	border-bottom: 1px solid silver;
	text-align: center;
	cursor: pointer;
}
h4 {
	margin: 0.5em 0 0;
	padding-left: 0.5em;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0 1em;
	&.promoCards {
		margin: 0 0 0 1.5em;
		padding: 0 0.5em;
		border-left: 1px solid silver;
	}
}
