<div *ngIf="card" [ngClass]="front ? 'front' : 'back'">
	<section (click)="front = !front">
		<aside><img src="assets/cards/{{ card.cardType.includes('Event') ? 'events' : (card.cardType.includes('Landmark') ? 'landmarks' : card.set.replace(' ', '_')) }}/{{ card.name.replace('’', '').replace('/', '').split(' ').join('_') }}.jpg"/></aside>
		<article>
			<h2>{{ card.name }}</h2>
			<p class="text" [innerHtml]="card.text"></p>
			<p class="help" *ngIf="card.help" [innerHtml]="card.help"></p>
			<p class="setup">
				<span *ngIf="card.setup.VP">Victory tokens/mats</span>
				<span *ngIf="card.setup.debt">Debt tokens</span>
				<span *ngIf="card.setup.spoils">Spoils</span>
				<span *ngIf="card.setup.ruins">Ruins</span>
				<span *ngIf="card.setup.coins">Coins</span>
				<span *ngIf="card.setup.tavernMats">Tavern Mats</span>
				<span *ngIf="card.setup.coffers">Coffers</span>
				<span *ngIf="card.setup.journey">Journey token</span>
				<span *ngIf="card.setup.trashing">Trashing token</span>
				<span *ngIf="card.setup.estate">Estate token</span>
				<span *ngIf="card.setup.plusAction">+1 Action token</span>
				<span *ngIf="card.setup.plusCard">+1 Card token</span>
				<span *ngIf="card.setup.plusBuy">+1 Buy token</span>
				<span *ngIf="card.setup.plusOne">+<img src="assets/Coin1.png"> token</span>
				<span *ngIf="card.setup.minusOne">−<img src="assets/Coin1.png"> token</span>
				<span *ngIf="card.setup.minusDraw">−1 Card token</span>
			</p>
		</article>
	</section>
</div>