body {
	font: 16px/1.3 Calibri;
	background: #000;
	color: #FFF;
}
p {
	img {
		vertical-align: text-bottom;
	}
}

button {
	border: 1px solid #07c;
	background: linear-gradient(#42a1ec, #0070c9);
	border-radius: 4px;
	font-size: 1.25em;
	line-height: 1.5;
	color: #FFF;
	text-shadow: -1px -1px 0 #00000066;

	&:disabled {
		opacity: 0.6;
	}
}
